<% @bulk_discounts.each do |discount| %>
<div id="bulk_discount-<%= discount.id %>">
  <%= discount.percentage_discount %>
  <%= discount.threshold %>
  <%= link_to "View This Discount", merchant_bulk_discount_path(@merchant, discount), method: :get %>
</div>
<% end %>